.grid-container {
    padding-block: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
    grid-gap: 1rem;
}

.v-span2 {
    grid-row: span 2;
}

.h-span2 {
    grid-column: span 2;
}

.grid-container div {
    overflow: hidden;
    border-radius: calc(var(--fs-200) - .3rem);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    transform: scale(1);
    transition: all linear .3s;
}

.grid-container img:hover {
    opacity: 0.9;
    transform: scale(1.01);
}

@media (max-width:70em) and (min-width:50em) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media (min-width:70em) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));


    }
}